<!-- Layout wrapper -->
{{> header}}

<div class="container">
  <h1>{{genre_name}} Movies</h1>
  
  <!-- Grid of Movies -->
  <div class="grid">
    {{#each movies}}
    <div class="grid-item">
      <a href="/movie/{{this.id}}">
        <img src="/images/{{this.filename}}" alt="{{this.title}}" class="movie-poster"/>
        <h3>{{this.title}}</h3>
      </a>
    </div>
    {{/each}}
  </div>
</div>



