  <div class="banner-container">
    <img src="./images/banner.png" alt="Banner 3" class="banner">
  </div>

  <div class="header">
    <h1>Welcome to Reel Bites</h1>
  </div>

  <!-- Top Picks Label -->
  <div class="top-picks-label">
    <h2>Top Picks Today</h2>
  </div>

  {{#each genres as |genre|}}
    <a href = "/genres/{{genre.id}}">
      <button >{{genre.name}} </button>
    </a>
   {{/each}}
  <!-- Movie Carousel -->
  <div class="movie-carousel">
    <div class="movie-carousel-track">
      {{#each movies as |movie| }}
        <a href="/movie/{{movie.id}}">
        <div class="movie-card">
          <img src="/images/{{movie.filename}}" alt="{{movie.title}}">
        </div>
        </a>
      {{/each}} 
  </div>