<div class='movie-by-id'>
  <a href='/'>
    <button class="btn">Return Home</button>
  </a>
  <div>
    <h1>{{title}}</h1>
  </div>
  <div class='poster grey'>
    <img src='/images/{{filename}}' alt='{{title}}' />
  </div>
  <div>
    <p>
      <span>Description</span>:
      {{plot}}
    </p>
    <p>
      <span>Director</span>:
      {{director}}
    </p>
    <p>
      <span>Release Year</span>:
      {{year}}
    </p>
    <p>
      <span>Length</span>:
      {{length}}
    </p>
    <p>
      <span>Rated</span>:
      {{mpaa_rating}}
    </p>
  
    <button type="button" data-id="${{movie.id}}" class="btn" id="favorite-btn">+</button>
    
  </div>
</div>

